@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');
:root{
    --primary-color: #eb5c2c;
    --primary-transition: all 400ms ease;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
body {
    background: linear-gradient(45deg, #eb5c2c12, transparent, #aa1e2317) !important;
}
nav.navbar {
    background: #f9f9f9;
}
a{text-decoration: none; color: #000;}
a:hover{color: #000;}
*{font-family: "Noto Kufi Arabic", sans-serif;}
.channel-podcast .box-channel {
    padding: 20px;
    transition: var(--primary-transition);
    text-decoration: none;
    width: 170px;
    flex-direction: column;
    border-bottom: 1px solid transparent;
}
.channel-podcast .box-channel:hover{background: #fff;}
body {background: #f3f3f3;}
nav form {background: #e7e7e7;}
nav.navbar.fix-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #f9f9f9e3;
    z-index: 5;
}
.hover-translatey:hover{
    border-bottom: 1px solid var(--primary-color);
    transform: translateY(-5px);
}
.block-episodes .episode {
    transition: var(--primary-transition);
    border-bottom: 1px solid transparent;
    background: #ebebeb;
    border: 4px solid #fff;
}
.block-episodes .img-block-episodes-latest span {
    background: #fff;
    color: var(--primary-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 5%;
    right: 5%;
}
.block-episodes .category-episodes-latest {
    color: var(--primary-color);
}
.title-slider-episodes-latest a {color: #999;}
.block-episodes .episode:hover img.img-episodes {filter: contrast(0.5);}
.block-episodes .episode img.img-episodes {
    transition: var(--primary-transition);
}
.arrow-slider .arrow-1 {
    background: #fff;
    margin: 1px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 50%;
    transition: var(--primary-transition);
}
.arrow-slider .arrow-1:hover {
    color: var(--primary-color);
    cursor: pointer;
}
.title-slider-episodes-latest a:hover {
    color: var(--primary-color);
}
.title-slider-episodes-latest a {
    transition: var(--primary-transition);
}
.latest-atricals .footer-big-artical h4 {
    font-size: 30px;
}
.auther svg {
    color: var(--primary-color);
    font-size: 13px;
}
.latest-atricals .footer-big-artical {
    padding: 0 50px;
}
.hover-artical{
    transition: var(--primary-transition);
    padding: 5px;
}
.hover-artical:hover {
    background: #ef68260d;
}
.latest-atricals .img-big-artical img {
    height: 250px;
    width: 450px;
}
.small-artical .img-small-artical img {
    width: 160px;
}
.footer-small-artical h4 {
    font-size: 20px;
}
.small-artical {
    margin-left: 25px;
}
.small-artical .footer-small-artical {
    padding-right: 18px;
    padding-left: 10px;
}
.small-artical.hover-artical.rounded.d-flex.align-items-center {
    padding: 5px;
}
.latest-atricals, .latest-version {
    border-bottom: 1px solid #dfdfdf;
}
.box-version .box-one {
    width: 200px;
    cursor: pointer;
}
.page-episodes img {
    width: 510px;
}
nav input.form-control.me-2 {
    border: none;
    background: #e7e7e7;
}
.form-control:focus{box-shadow:none}
nav button.btn.btn-outline-success {
    border:none;
    color: var(--primary-color);
}
nav .btn:hover{
    background-color: var(--primary-color);
    transition: var(--primary-transition);
}
nav .btn:hover svg{color: #fff;}
ul.navbar-nav li {
    margin: 0 10px;
}
ul.navbar-nav li svg , ul.navbar-nav li a {
    font-size: 20px;
    transition: var(--primary-transition);
}
ul.navbar-nav li:hover svg, ul.navbar-nav li:hover a{
    color: var(--primary-color);
}
.window-episodes {
    border-radius: 10px;
}
.window-episodes audio {
    width: 430px;
    margin-right: auto;
}
.window-episodes .box-play svg {
    margin: 0 5px;
    padding: 10px;
    border-radius: 50%;
    color: #f06627;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.box-audio h2 {
    font-size: 25px;
}
.box-audio {
    background: #f1f3f4;
    padding: 20px;
    border-radius: 20px;
}
.swiper-button-next,.swiper-button-prev {
    background: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #eb5c2c;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hover-artical {
    transition: transform 0.3s ease-in-out;
}
.hover-artical:hover {
    transform: translateY(-5px);
}
.img-big-artical img {
    max-width: 100%;
    height: auto;
}
.auther i {
    margin-right: 5px;
}
.box-channel {
    width: 120px;
    height: 120px;
    transition: transform 0.3s ease; 
}

.box-channel:hover {
    transform: translateY(-10px);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .box-channel {
        width: 100px; 
        height: 100px;
    }
    h4 {
        font-size: 16px !important;
        font-weight: bold;
    }
    
    p {
        font-size: 14px !important;
    }
}

@media (max-width: 576px) {
    .box-channel {
        width: 80px; 
        height: 80px;
    }
}
.img-episodes {
    width: 100%;
    height: auto;
}
.play-button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.hover-translatey:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease-in-out;
}
  


  