@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');
:root{
    --primary-color: #eb5c2c;
    --primary-transition: all 400ms ease;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
a{text-decoration: none; color: #000;}
a:hover{color: #000;}
*{
    font-family: "Noto Kufi Arabic", sans-serif;
}
.channel-podcast .box-channel {
    padding: 20px;
    transition: var(--primary-transition);
    text-decoration: none;
    width: 170px;
    flex-direction: column;
    border-bottom: 1px solid transparent;
}
.channel-podcast .box-channel:hover{
    background: #fff;
}
body {
    background: #f3f3f3;
}
.hover-translatey:hover{
    border-bottom: 1px solid var(--primary-color);
    transform: translateY(-5px);
}
.block-episodes .episode {
    flex: 1;
    min-width: 150px;
    transition: var(--primary-transition);
    border-bottom: 1px solid transparent;
    background: #ebebeb;
}
.block-episodes .img-block-episodes-latest span {
    background: #fff;
    color: var(--primary-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 5%;
    right: 5%;
}
.block-episodes .category-episodes-latest {
    color: var(--primary-color);
}
.block-episodes {
    margin: 0 -1.5rem !important;
}
.title-slider-episodes-latest a {color: #999;}
.block-episodes .episode:hover img.img-episodes {filter: contrast(0.5);}
.block-episodes .episode img.img-episodes {
    transition: var(--primary-transition);
}
.arrow-slider .arrow-1 {
    background: #fff;
    margin: 1px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 50%;
    transition: var(--primary-transition);
}
.arrow-slider .arrow-1:hover {
    color: var(--primary-color);
    cursor: pointer;
}
.title-slider-episodes-latest a:hover {
    color: var(--primary-color);
}
.title-slider-episodes-latest a {
    transition: var(--primary-transition);
}
.latest-atricals .footer-big-artical h4 {
    font-size: 30px;
}
.auther svg {
    color: var(--primary-color);
    font-size: 13px;
}
.latest-atricals .footer-big-artical {
    margin-right: 20px;
    padding-left: 50px;
}
.hover-artical{
    transition: var(--primary-transition);
    padding: 5px;
}
.hover-artical:hover {
    background: #e7e7e7;
}
.latest-atricals .img-big-artical img {
    height: 250px;
    width: 450px;
}
.small-artical .img-small-artical img {
    width: 160px;
}
.footer-small-artical h4 {
    font-size: 20px;
}
.small-artical {
    margin-left: 25px;
}
.small-artical .footer-small-artical {
    padding-right: 18px;
    padding-left: 10px;
}
.small-artical.hover-artical.rounded.d-flex.align-items-center {
    padding: 5px;
}
.latest-atricals, .latest-version {
    border-bottom: 1px solid #dfdfdf;
}
.box-version .box-one {
    width: 200px;
    cursor: pointer;
}